<div class="content">
    <div class="content__users-component">
        <div class="content__users-container">
            <div *ngFor="let user of usersList[0]" class="content__users-content">
                <div *ngIf="user.name > ''" class="">
                    <div class="text">
                        <label>Nome:</label>
                        <span> {{ user.name }} </span>
                    </div>
                    <div class="text">
                        <label>Profissão:</label>
                        <span> {{ user.profession }} </span>
                    </div>
                    <div class="content__users-button-read">
                        <button routerLink="/more/{{user.id}}" class="send-button">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__users-button-container">
            <button routerLink="/create" class="content__users-button">+</button>
        </div>
    </div>
</div>