.header {
    width: 100vw;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        gap: 2em;
    }

    &__button {
        font-weight: 500;
        font-size: 2em;
        color: black;
        font-family: "Nunito", sans-serif;
        text-transform: uppercase;
    }

    &__button:hover {
        cursor: pointer;
    }
}