.background {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #1b375c, #fff);
	height: 100vh;

	.content {
		background-color: #fff;
		border-radius: 25px;
		width: 30%;
		height: 33em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__verify,
		.verify__child {
			width: 100%;
		}
	}
}
