<div class="content">
    <div class="back-button">
        <button routerLink="/more/{{userId}}" class="send-button">
            < </button>
    </div>
    <div class="content__users-component">
        <div class="content__users-container">
            <div class="content__users-content">
                <div class="text">
                    <label>Nome:</label>
                    <input type="text" placeholder="nome" id="name" name="name" [(ngModel)]="name">
                </div>
                <div class="text">
                    <label>Profissão:</label>
                    <input type="text" placeholder="profissao" id="profession" name="profession"
                        [(ngModel)]="profession">
                </div>
                <div class="text">
                    <label>Pet:</label>
                    <input type="text" placeholder="pet" id="pet" name="pet" [(ngModel)]="pet">
                </div>
                <div class="text">
                    <label>E-mail:</label>
                    <input type="text" placeholder="E-mail" id="email" name="email" [(ngModel)]="email">
                </div>
                <div class="text">
                    <label>Telefone:</label>
                    <input type="text" placeholder="Telefone" id="phone" name="phone" [(ngModel)]="phone">
                </div>
            </div>
        </div>
        <div class="content__users-button-container">
            <button (click)="editValues()" class="content__users-button send-button">editar</button>
        </div>
    </div>
</div>