.content {
    background-color: #fff;
    border-radius: 25px;
    height: 43em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 30em;
    min-width: 2em;
    margin: 2em;
    width: 80em;

    @media(max-width: 320px) {
        height: 37em;
        width: 31em;
        margin: 1.5em;
    }

    @media(max-width: 200px) {
        height: 41em;
        width: 31em;
        margin: 1em;
    }

    &__users-component {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__users-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow: auto;
        margin: 1em;
    }

    &__users-content {
        display: flex;
        width: 95%;
        flex-direction: column;
        margin-bottom: .5em;
        margin-top: .5em;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    &__users-button-container {
        display: flex;
        justify-content: flex-end;
        margin: 1em;
    }

    &__users-button {
        cursor: pointer;
        background-color: red;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 2em;
        color: #fff;
        border: none;
    }

    &__users-button-read {
        display: flex;
        justify-content: flex-end;
    }
}

.send-button {
    cursor: pointer;
    font-size: 1em;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    border-radius: 0.5em;
    border: none;
    outline: none;
    background-color: #1b375c;
    color: #fff;
    margin: .5em;
}

.text {
    font-size: 1em;
    font-family: "Nunito", sans-serif;
    margin: .5em;
}