<div class="content__users-component">
    <div class="content__users-container">
      <div class="content__users-content">
        <form [formGroup]="form">
          <div class="text">
            <label>Nome:</label>
            <input type="text" formControlName="name" placeholder="nome" id="name" name="name">
            <span *ngIf="showError" class="errorMessage">Você precisa inserir pelo menos o nome!</span>
          </div>
          <div class="text">
            <label>Profissão:</label>
            <input type="text" formControlName="profession" placeholder="profissao" id="profession"
              name="profession">
          </div>
          <div class="text">
            <label>Pet:</label>
            <input type="text" formControlName="pet" placeholder="pet" id="pet" name="pet">
          </div>
          <div class="text">
            <label>E-mail:</label>
            <input type="text" formControlName="email" placeholder="E-mail" id="email" name="email">
          </div>
          <div class="text">
            <label>Telefone:</label>
            <input type="text" formControlName="phone" placeholder="Telefone" id="phone" name="phone">
          </div>
        </form>
      </div>
    </div>
    <div class="content__users-button-container">
      <button (click)="defineToSend()" class="content__users-button send-button">{{templateContext}}</button>
    </div>
</div>